.btn-bd-primary {
    --bs-btn-font-weight: 800;
    --bs-btn-color: #FFFFFF !important;
    --bs-btn-bg: #FCA920 !important;

    --bs-btn-border-radius: 60px !important;
    padding: 24px 34px !important;
    /* Altura confortável e largura adequada */
    font-size: 1.25rem;
    /* Aumenta a legibilidade */

}


.btn-bd-primary:hover {
    --bs-btn-hover-color: #FCA920 !important;
    --bs-btn-hover-bg: #FFFFFF !important;

}

.text {
    color: #FFFFFF;
}


.section-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: last baseline;
    height: 100vh;
    /* Faz a section ocupar toda a altura da tela */
    text-align: center;
}