.boxText {

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 27px 24px;
gap: 18px;

position: absolute;
width: 600px;
height: 250px;

background: #14213D;
border: 3px solid #FFFFFF;
border-radius: 45px;


     
}

