/* === SEÇÃO MENTORA === */
.section-mentora {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
}

/* === FUNDO COM OPACIDADE === */
.mentora-bg {
    background: #14213D url("../image/frame_5/img_fundo.jpg") center/cover no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.section-mentora::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 33, 61, 0.6);
    z-index: 1;
}

/* === CONTAINER GERAL === */
.container-mentora {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

/* === IMAGEM DA MENTORA === */
.mentora-img {
    display: flex;
    justify-content: center;
    width: 100%;
}

.mentora-img img {
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
}

/* === CONTEÚDO DA MENTORA === */
.mentora-content {
    width: 100%;
    text-align: left;
}

.mentora-subtitle {
    font-size: 22px;
    font-weight: 400;
    color: #FFF;
    margin-bottom: 10px;
}

.mentora-line {
    width: 80%;
    max-width: 450px;
    height: 4px;
    background: #FCA920;
    margin-bottom: 20px;
}

.mentora-line-under{
    width: 50%;
    max-width: 100px;
    height: 4px;
    background: #FCA920;
    margin-bottom: 20px;
}

.mentora-name {

    font-size: 36px;
    font-weight: 800;
    color: #FFF;
    margin-bottom: 20px;
}

.mentora-desc {
    font-size: 16px;
    color: #FFF;
    line-height: 1.6;
    margin-bottom: 15px;
    
}

.mentora-highlight {
    margin-left: 20px;
    font-size: 16px;
    color:#FFF;
    font-weight: 400;
}

/* === RESPONSIVIDADE === */
@media (min-width: 768px) {
    .section-mentora {
        flex-direction: row;
        text-align: left;
        padding: 80px 20px;
    }

    .container-mentora {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .mentora-img img {
        max-width: 500px;
    }

    .mentora-name {
        font-size: 40px;
    }

    .mentora-desc {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .mentora-img img {
        max-width: 600px;
    }

    .mentora-name {
        font-size: 50px;
    }

    .mentora-subtitle {
        font-size: 24px;
    }

    .mentora-desc {
        font-size: 18px;
    }
}
