/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Ubuntu:wght@700&family=Merriweather+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #14213D;
    max-width: 100%;
    overflow-x: hidden;
}

/* Evita que qualquer seção ultrapasse a tela */
section {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
}

/* === TÍTULO PRINCIPAL === */
.title {
    margin-top: 20px;
    font-size: clamp(30px, 5vw, 65px); /* Adapta ao tamanho da tela */
    font-weight: 800;
    line-height: 1.2;
    color: #FFF;
    text-align: left; /* Ajustado para centralizar */
}

.title-center {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: clamp(30px, 5vw, 65px); /* Adapta ao tamanho da tela */
    font-weight: 800;
    line-height: 1.2;
    color: #FFF;
}

.highlight {
    color: #FCA920;
}

/* === SUBTÍTULO === */
.subtitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    color: #FFF;
    text-align: left;
    max-width: 550px;
    margin-top: 20px;
}

strong {
    text-decoration: underline;
}


/* === BOTÃO DE AÇÃO === */
.btn-container {
    margin-top: 20px;
}

.btn-primary {
    background: #FCA920;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 60px;
    padding: 20px 40px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #fff;
    color: #FCA920;
}