/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Ubuntu:wght@700&family=Merriweather+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
   
    background-color: #14213D;
    max-width: 100%;
    overflow-x: hidden;
}

/* Evita que qualquer seção ultrapasse a tela */
section {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
}
/* === CONTEÚDO PRINCIPAL === */
.container {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
}

/* === TÍTULO HERO === */
.title-hero{
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    font-size: clamp(30px, 5vw, 65px); /* Adapta ao tamanho da tela */
    font-weight: 800;
    line-height: 1.2;
    color: #FFF;
    text-align: left; /* Ajustado para centralizar */
}

.subtitle-hero {
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    color: #FFF;
    text-align: left;
    max-width: 550px;
    margin-top: 20px;
}

/* === TÍTULO PRINCIPAL === */
.title-center {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: clamp(30px, 5vw, 65px); /* Adapta ao tamanho da tela */
    font-weight: 800;
    line-height: 1.2;
    color: #FFF;
}

.highlight {
    color: #FCA920;
}

/* === SUBTÍTULO === */
.subtitle {
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    color: #FFF;
    justify-items: center;
    text-align: center;
}

strong {
    text-decoration: underline;
}


/* === BOTÃO DE AÇÃO === */
.btn-container {
    margin-top: 20px;

}

.btn-primary {
    background: #FCA920;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 60px;
    padding: 20px 40px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s;
    
}

.btn-primary:hover {
    background: #fff;
    color: #FCA920;
}

.position-pix{
    position: fixed;
    bottom: 90px;
    right: 30px;
    z-index: 1000;
    display: flex;
}

.position-whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
}

@media (max-width: 480px) {
    .title-center {
        font-size: 30px;
    }

    .btn-primary {
        width: 100%;
    }
}
